body {
  width: 1440px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

section {
  margin-top: 5%;
  height: 800px;
  background-color: #0c122c;
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.background {
  display: block;
  position: absolute;
  margin-top: 380px;
  z-index: 0;
}

.flex-container.elements {
  display: flex;
  justify-content: center;
}

.blocG {
  background-color: #1e2c69;
  width: 25%;
  height: 12rem;
  margin-right: 2rem;
  border-radius: 0.5rem 6rem 0.5rem 0.5rem;
  margin-top: 20%;
}

.logo {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 7%;
}

.icons {
    margin-left: 10%;
}

.icons * {
    background-color: #0c122c;
    border-radius: 0.7rem;
    height: 1.5rem;
    padding: 0.8rem;
}

.iconF {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.blocD {
  background-color: #1e2c69;
  width: 38%;
  height: 9.5rem;
  border-radius: 0.5rem;
  margin-top: 23%;
}

.flex-container, .firstL {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-container, .secondL {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.text, .min, .max {
    color: #c7cffc;
}

strong {
    margin-left: 0%;
    font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
